<?xml version="1.0"?>

<robot  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="aloha_back_gripper"   params="
   attach_to=''
   prefix=''
   attach_xyz= '0 0 0'
   attach_rpy= '0 0 0'
   " >

    <link name="${prefix}link6">
        <inertial>
            <origin xyz="0.0471798400661976 0.000102970421835668 -0.000138510949393961" rpy="0 0 0" />
            <mass value="0.462244960775882" />
            <inertia ixx="0.00068" ixy="0.00000" ixz="0.00000" iyy="0.00036" iyz="-0.00001" izz="0.00091" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arx5_description/meshes/link6.dae" />
            </geometry>
            <material name="">
                <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arx5_description/meshes/link6.STL" />
            </geometry>
        </collision>
    </link>

    <link name="${prefix}link7">
        <inertial>
            <origin xyz="-0.000327642774520215 -0.00482005374028087 -0.00167540868720402" rpy="0 0 0" />
            <mass value="0.0484016660227936" />
            <inertia ixx="0.00001" ixy="0.00000" ixz="0.00000" iyy="0.00002" iyz="0.00000" izz="0.00002" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arx5_description/meshes/back_link7.dae" />
            </geometry>
            <material name="">
                <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arx5_description/meshes/back_link7.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="${prefix}arm_joint7" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="${prefix}link6" />
        <child link="${prefix}link7" />
        <axis xyz="0 0 1" />
        <limit lower="0" upper="0.4765" effort="100" velocity="1000" />
    </joint>
    

    <joint name="${prefix}manipulator_flange_joint" type="fixed">
          <parent link="${attach_to}" />
          <child link="${prefix}link6" />
          <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  
</xacro:macro>
</robot>